.sg-container {
    max-width: 100%;
    min-width: 400px;
    height: 700px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* Ensures horizontal layout */
    align-items: center;
    justify-content: center;
    position: relative;
    /* Makes sure everything inside is relative to this container */
    transition: all 0.3s ease-in-out;
}

/* Overall chart container */
#sg-chart {
    display: flex;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease;
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px;
    justify-content: space-between;
    position: relative;
    /* Ensure it is positioned relative to its parent */
    width: 100%;
    /* Ensures it stretches across the available space */
}

#chart:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* sg-map container */
#sg-map {
    width: 100%;
    /* Let the sg-sg-map fill up its parent */
    height: auto;
    position: relative;
}

/* Legend container */
#legend {
    width: 180px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    /* Ensure it’s inside the chart relative container */
}

/* Legend title */
.legendTitle {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Mobile responsiveness */
@media (max-width: 800px) {
    .sg-container {
        max-width: 100%;
        /* Full width on smaller screens */
        height: auto;
        /* Adjusts height to fit content */
    }

    #sg-chart {
        flex-direction: column;
        /* Stack elements vertically for smaller screens */
        padding: 15px;
        /* Adjusts padding for smaller screens */
    }

    #sg-map {
        max-width: 100%;
        /* Ensures sg-map stretches to full width on mobile */
        margin-bottom: 20px;
        /* Adds spacing below sg-map on mobile */
    }

    #legend {
        width: 100%;
        /* Makes legend take full width on smaller screens */
        margin-top: 10px;
        /* Adds spacing on top of the legend */
    }
}
