<div class="section">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 card-wrapper">
      <app-bar-chart></app-bar-chart>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 card-wrapper">
      <app-sex-pie-chart></app-sex-pie-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 card-wrapper">
      <app-pie-chart></app-pie-chart>
    </div>
  </div>
  <div class="card-wrapper-entire">
    <app-bmi-vs-age-scatter-plot></app-bmi-vs-age-scatter-plot>
  </div>
  <div class="card-wrapper-entire">
    <app-sg-bmi-per-region></app-sg-bmi-per-region>
  </div>
</div>